<div><%= link_to "Back", experiences_path %></div>
<% @places.each_with_index do |place, idx| %>
  <div
    data-controller="place"
    data-place-data-value="<%= place.to_json %>"
    data-map-target="place">
    <div>
      <div class="flex">
        <p class="mr-2"><%= place.name %></p>
        <p data-place-target="distance">Distance will be shown here.</p>
      </div>
    </div>
  </div>
<% end %>